* {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 34px;
   margin: 0 auto;
}
.input-click {
   display: none;
}
.bayan-wrapper {
   padding: 3.6vw;
   background-color:antiquewhite
}
.close {
   width: 35px;
   height: 35px;
   transition: 0.8s ease-out;
}
.divider {
   margin-top: 30px;
   margin-bottom: 30px;
   width: 100%;
   height: 2px;
   background-color:bisque;
}
.bayan-body-img {
   width: 200px;
   height: 200px;
}
.part1-descr .close {
   transform: rotate(45deg);
}
.mem2 {
   display: none;
   margin: 0 auto;
}
.part1-descr, .part2-descr {
   width: 100%;
   transition: 0.8s ease-out;
}
.part1-descr, .part2-descr {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.label-wrapper {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
}
.part2-descr:hover .close {
   transform: rotate(45deg);
}
.part2-descr:hover .mem2 {
   transition: 0.8s all;
   display: block;
}
.part1-descr:hover .mem1 {
   transform: rotate(90deg);
}


